h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
}



.project1{
    border: 1px solid black;
    height: 300px;
    background-image: url('../images/sampleimg.png');
    background-size: cover;     
    background-position: center;
    position: relative;    
}