h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}


body {
  font-family: 'Inter', sans-serif;  
  margin-left: 10px;
}

#main {
    background-size: cover;
  }

  .navbar-nav {
    font-size: 1.5rem;
  }


.aboutHeading {
    font-size: 2.5rem;
    padding-top: 10px;
    padding-bottom: 20px;
  }


.project1{
    border: 1px solid black;
    height: 300px;
    background-image: url('../images/sampleimg.png');
    background-size: cover;     
    background-position: center;
    position: relative;    
}