.project1{
    border: 1px solid black;
    height: 300px;
    background-image: url('../images/sampleimg.png');
    background-size: cover;     
    background-position: center;
    position: relative;    
}